<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bourse.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D85E3F4A945BEA4E7D5448EC8C3DA8F6108B84C</string>
				<key>dateExpires</key>
				<string>2021/7/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7V7M5G5786.com.bona2.bourse0709</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7V7M5G5786</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7V7M5G5786.com.bona2.bourse0709</string>
				</array>
			</dict>
			<key>name</key>
			<string>bourse.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>be755c27-5f87-46fe-9e97-81b43bf49247</string>
				<key>name</key>
				<string>07092024</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7V7M5G5786</string>
				<key>name</key>
				<string>Mianyang Bona Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
